# User Testing Report

User testing was conducted by Maddi Watson on October 22 between the times of 3pm and 6pm with the following participants:

- Kathryn Hallett
- Grace Morton
- Ashley Edmundson

## Tasks

1. Read the recent news
2. Find out what skateboarding is
3. Find the Anatomy of the Skateboard section

---

## Individual Results & Observations

### Kathryn Hallett

- Couldn't find the *what skateboarding is* section at first
- Easily found each section
- Got through tasks quickly

### Grace Morton

- Easily found each section
- Got through tasks quickly
- Thinks that information on about page should be seperated into their

### Ashley Edmundson

- Clicked on the wrong link
- Easily found each section
- Got through tasks quickly

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- No critical problems

### Serious, Causes Frustration, May Hinder Completion

- Need to seperate information on the about page into sub-pages because there is so much information for each sub-section.

### Minor, Annoying, Won’t Hinder Completion

- Need to make about page responsive.