<!doctype html>
<html>
<head>
	<title>SHRED - Skateboarding facts from past to present</title>
	<!-- Facebook -->
	<meta property="og:type" content="article">
	<meta property="og:title" content="SHRED">
	<meta property="og:url" content="http://maddiwatson1.github.io/large-data-website/">
	<!-- Image size: minimum 200x200; recommended 1500x1500 -->
	<meta property="og:image" content="http://maddiwatson1.github.io/large-data-website/images/main-image.html">
	<meta property="og:description" content="Everything you need to know about skateboarding, from past to present.">
	<meta property="og:site_name" content="SHRED Skateboarding">

	<!-- Twitter -->
	<meta property="twitter:card" content="summary">
	<meta property="twitter:title" content="SHRED">
	<meta property="twitter:url" content="http://maddiwatson1.github.io/large-data-website/index.html">
	<!-- Image size: 120x120 -->
	<meta property="twitter:image" content="http://maddiwatson1.github.io/large-data-website/images/main-image.html">
	<meta property="twitter:description" content="Everything you need to know about skateboarding, from past to present.">

    <link href="css/general.css" rel="stylesheet">
    <link href="css/grid.css" rel="stylesheet">
	<meta name="handheldfriendly" content="true">
	<meta name="mobileoptimized" content="240">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Everything you need to know about skateboarding, from past to present.">
</head>
<body>

<div class="grid">

	<div class="header-wrap clearfix">
		<header id="header" class="clearfix">
			<div class="logo">
				<h1><a href="index.html" rel="home"><img src="images/shred-logo.png" alt="shred" width="159" height="60"></a></h1>
			</div>       		
		</header>
	</div>

<nav class="nav-container">
	<ul id="nav">
    	<li id="nav-item" class="nav-item-1"><a href="../about.html">About</a></li>
		<li id="nav-item" class="nav-item-1"><a href="../history.html">History</a></li>
		<li id="nav-item" class="nav-item-1"><a href="">Culture</a></li>
		<li id="nav-item" class="nav-item-1"><a href="">How-To</a></li>
        <li id="nav-item" class="nav-item-1"><a href="">Inside Look</a></li>
	</ul>
</nav>	

{{content}}

</body>
</html>